<body>
    <mat-toolbar>
        <span><a [routerLink]="'/home'"><mat-icon color="accent">home</mat-icon></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="tool" style="font-size: large;font-weight: bold;">My Contacts</span>
    </mat-toolbar>
    <div class="main">
    <div>
        <span class="title">Email:</span><br><br> 
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" style="text-decoration: none;"target="_blank"><img src="./assets/gmail.png" alt="gmail logo">&nbsp;&nbsp;&nbsp;&nbsp;alish.grg04@gmail.com</a>
    </div><br>
    <!--
    <div>
        <span class="title">Phone No.:</span><br><br> 
        <span class="num"><img src="./assets/phone.png" alt="phone logo">&nbsp;&nbsp;&nbsp;&nbsp;+(91)9959891599</span>
    </div><br>
    -->
    <div>
        <span class="title">LinkedIn:</span><br><br> 
        <a href="https://www.linkedin.com/in/alishgurung" style="text-decoration: none;" target="_blank"><span><img src="./assets/linkedin.png" alt="linkedin logo">&nbsp;&nbsp;&nbsp;&nbsp;www.linkedin.com/alishgurung</span></a>
    </div>
    </div>
</body>
