<body>
    <mat-toolbar>
        <span><a [routerLink]="'/home'"><mat-icon color="accent">home</mat-icon></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="tool" style="font-size: large;font-weight: bold;">About Me</span>
    </mat-toolbar>
    <div style="color:white;padding-left: 3.5rem; padding-right: 4rem; padding-top: 3rem; ">
    <h1 style="font-weight:550;font-family:Arial, Helvetica, sans-serif">Hi, my name is Alish Gurung. I would like to tell about myself in this page.</h1><br>
    <h2 style="font-weight: 550;">Me, As a Tech Lover</h2>
    <p>
        Since my childhood I was a curious kid and used to ask alot of questions to many people about how &amp; why is that the way they are.
        I love to introduce myself as a Tech Enthusiast and a Tech Savvy guy. When I was a kid, I used to solve people's problems.
        These problems used to be about internet connectivity and sometimes about phone settings configurations. I always loved
        what I did to solve the problems and still I love to do it. I am always fond of new technologies. I always keep track of the Android versions, Windows versions their names
        and the new features they have introduced. I am always eager to use the features and versions they introduced. Similarly, I keep track of the Snapdragon processor versions
        as well as intel versions and I give consultation to my friends who are going to buy new gadgets so that they can get a value for money product and also the trendy technologies on their hand.
        Be it a hardware, software, an app or new tech in aerospace I have been always curious and tried to learn &amp; research more about them. I have loved and I love to solve people's problem.
    </p><br>
    <h2 style="font-weight: 550;">My Professional Journey</h2>
    <p>
        It was a time when the covid-19 pandemic was spreading all over the world like a wildfire. I was studying at my 7th Semester. Many companies were laying off their employees and 
        getting a job placement was a big thing. There was a country wide lockdown and I had ample amount of time so at that time Coursera was giving free courses with certifications 
        to the students. I was overwhelmed with this opportunity and jumped on the courses which I liked. I had knowledge on various subjects before enrolling to the course but still 
        I wanted to explore more and I enrolled in courses like HTML,CSS,JS for web developers, problem solving using JAVA, PYTHON programming &amp; AWS. After learning all these I became 
        more confident all thanks to great &amp; generous people of coursera. With my sheer determination I practised for my interview and landed a job in an MNC in first try also it was my first company that I applied for.
    </p>
    <p>
        I had a training for about one &amp; half month and I learned actually what I needed to learn as a JAVA developer. I learned various backend frameworks of JAVA such as HIBERNATE/JPA, SPRING &amp; SPRING BOOT.
        As I was getting trained as a full stack java developer I also learned frontend Framework such as ANGULAR. I learned about various DevOps tools such as GIT, Jenkins &amp; JUnit as well.
        I am a curious person and always have been so when I learned about all these new technologies I felt like I got an Oasis in the desert. I tried to implement practically what I learned till now. So, I started working on the 
        projects. Since the training was time bounded and I was taught limited things but it didn't stop me from learning more. I learned more and more about these technologies everyday as I was 
        doing my projects. I learned futher more from watching youtube videos, learning tutorials and documentations from the internet.
    </p>
    <p>
        Right now, I have desgined this portfolio page using Angular and I am designing my other projects using it.
        In upcoming times, I am trying to learn more new technologies such as React, React Native. It is trendy nowadays and I feel cool when I use web Apps and mobile Apps which were developed using these technologies.
        I am currently working as Senior Software Engineer at LTI (Larsen &amp; Toubro Infotech).
    </p><br>
    <h2 style="font-weight: 550;">
        My Beliefs
    </h2>
    <p>
        As a Tech geek what my core belief is that learning and its implementation is the only thing which has a power to change and revolutionize the world. Our life is all about learning. When we were kids we used to learn in a different 
        way, as we grew older the way of learning changed but we are still learning and we will learn every new thing everyday, the only difference is that it could be conciously or unconciously.
    </p>
</div>
</body>

