<body>
    <mat-toolbar>
        <span><a [routerLink]="'/home'"><mat-icon color="accent">home</mat-icon></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="tool" style="font-size: large;font-weight: bold;">My Projects</span>
    </mat-toolbar>
    <div style="padding-left:2rem; padding-top: 2rem;">
        <div><img src="/assets/git.png" alternate="GitLogo"></div><br>
        <div style="padding-left: 1.2rem;"><span style="color:white;">My Portfolio:</span><a class="link"style="text-decoration: none;" href="https://github.com/AlishGrg/portfolio" target="_blank"><span style="padding-left: 2rem;">https://github.com/AlishGrg/portfolio</span></a></div><br>
        <div style="padding-left: 1.2rem;"><span style="color:white;">Shopping App:</span><a class="link" style="text-decoration: none;" href="https://github.com/AlishGrg/nile" target="_blank"><span style="padding-left: 1.2rem;">https://github.com/AlishGrg/nile</span></a></div>
    </div>
</body>
