<body>
    <mat-toolbar class="bar">
        <span><a [routerLink]="'/home'"><mat-icon color="accent">home</mat-icon></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="tool" style="font-size: large;font-weight: bold;">My CV</span>
    </mat-toolbar>
    <div class="resume" align="center">
        <div class="title">
            <span class="name" style="font-size: xx-large;"><b>Alish Gurung</b></span><br>
            <span class="name" style="font-size:x-large">Software Engineer</span>
        </div>
        <div class="main">
            <div style="text-align: left;padding-left: 2rem;padding-top: 2rem;">
                A positive, innovative, results-driven Software Engineer
                who takes pride in the ability to effectively combine workplace objectives with personal and professional 
                goals. Supportive and enthusiastic team player dedicated to efficiently resolving project issues. 
                Ability and willingness to innovate and learn new technologies, 
                quick learner who is passionate about development.
            </div>
            <div style="text-align: left;padding-left: 2rem;padding-top: 2rem;">
                <span><b>Tech Stacks</b></span>
            </div>
                <hr style="width:750px;text-align:left;">
                <div style="text-align: left; padding-left: 2rem;font-weight:bold;">
                    <span>Programming Languages</span><span style="padding-left: 1.5rem;">Frontend Framework</span><span style="padding-left: 2.25rem;">Backend Framework</span><span style="padding-left: 2rem;">RDBMS</span>
                </div>
                <br>
                <div style="text-align: left; padding-left: 2rem;">
                    <span>-Java(Intermediate)</span><span style="padding-left: 4rem;">-Angular(Beginner)</span><span style="padding-left: 3.3rem;">-Spring(Beginner)</span><span style="padding-left: 3.5rem;">-Oracle SQL(Beginner)</span>
                </div><br>
                <div style="text-align: left; padding-left: 2rem;">
                    <span>-Python(Beginner)</span><span style="padding-left: 16.25rem;">-SpringMVC(Beginner)</span><span style="padding-left: 1.5rem;">-MySQL(Beginner)</span>
                </div><br>
                <div style="text-align: left; padding-left: 2rem;">
                    <span style="padding-left: 24.25rem;">-Springboot(Beginner)</span>
                </div><br>
                <div style="text-align: left; padding-left: 2rem;">
                    <span style="padding-left: 24.25rem;">-Hibernate/JPA(Beginner)</span>
                </div>
            <div style="text-align: left; padding-left: 2rem;font-weight:bold;">
                <span>Scripting Languages</span>
            </div><br>
            <div style="text-align: left; padding-left: 2rem;">
                <span>-(HTML, CSS, JS) - Intermediate</span>
            </div><br>
            <!--<hr style="width:750px;text-align:left;"> -->
            <div style="text-align: left;padding-left: 2rem">
                <span><b>Tools & Technologies</b></span> 
            </div>
            <hr style="width:750px;text-align:left;">
            <div style="text-align: left; padding-left: 2rem;">
                <span>-Git & Perforce (Version Control System)</span>
            </div>
            <div style="text-align: left; padding-left: 2rem;">
                <span>-VS code (Code Editor)</span>
            </div>
            <div style="text-align: left; padding-left: 2rem;">
                <span>-MyEclipse (Java IDE)</span>
            </div>
            <div style="text-align: left; padding-left: 2rem;">
                <span>-JIRA (Project Management Software)</span>
            </div>
            <br>
            <div style="text-align: left;padding-left: 2rem">
                <span><b>Work History</b></span> 
            </div>
            <hr style="width:750px;text-align:left;">  
            <div style="text-align: left;padding-left: 2rem;">
                2021/Aug - current<span style="padding-left: 5.5rem;"><b>Senior Software Engineer</b><br></span>
                <span style="padding-left: 14rem;">LTI (Larsen & Toubro Infotech), Pune</span>
            </div>     
            <div style="padding-left: 15rem;">
                <ul>
                    <li style="text-align: left;">Version upgradation of vulnerable JARs</li>
                    <li style="text-align: left;">Deployment of project on Development Server</li>
                    <li style="text-align: left;">Designed clients PDF templates and populated the field<br>values using test code and running batch job</li>
                </ul>
            </div>
            <div style="text-align: left;padding-left: 2rem;">
                <span><b>Education</b></span>
            </div>
            <hr style="width:750px;text-align:left;"> 
            <div style="text-align: left;padding-left: 2rem;">
                2017/Aug - 2021/Jul<span style="padding-left: 4.75rem;"><b>Bachelor of Technology: Electronics and Communication Engineering</b><br></span>
                <span style="padding-left: 14rem;">JNTUHCEH(Jawaharlal Nehru Technological University</span><br>
                <span style="padding-left: 14rem;">Hyderabad - <b>College Of Engineering Hyderabad</b>) - Hyderabad</span>
            </div><br>
            <div style="text-align: left;padding-left: 2rem;">
                2014/Sep - 2016/Nov<span style="padding-left: 4.5rem;"><b>HSEB(Higher Secondary Education Board): Science(MPC)</b><br></span>
                <span style="padding-left: 14rem;">Diamond Higher Secondary School - Talchowk</span>
            </div><br>   
            <div style="text-align: left;padding-left: 2rem;">
                2014/July<span style="padding-left: 9.5rem;"><b>SLC(School Leaving Certificate)</b><br></span>
                <span style="padding-left: 14rem;">Diamond Higher Secondary School - Talchowk</span>
            </div><br> 
            <div style="text-align: left;padding-left: 2rem;">
                <span><b>My Achievements</b></span>
            </div>
            <hr style="width:750px;text-align:left;"> 
            <div style="padding-left: 15rem;">
                <ul>
                    <li align="left">Successfully emerged as the <b>Best Project Team</b> in FY'22 <br>
                    'Enabling the Champions' fresher learning Journey at LTI</li><br>
                    <li align="left">Selected for the college level <b>NASA Space App Challange</b><br> for Smart City Hackathon in 2018</li>
                </ul>
            </div>   
            <!--  
            <div style="text-align: left;padding-left: 2rem;">
                <span><b>My Certifications</b></span>
            </div>
            <hr style="width:750px;text-align:left;">
            -->
            <div style="text-align: left;padding-left: 2rem;">
                <span><b>Interests</b></span>
            </div>
            <hr style="width:750px;text-align:left;">
            <div style="padding-left: 18rem;" align="left">
                <span>-Playing Guitar</span><br>
                <span>-Producing Music</span><br>
                <span>-Singing</span><br>
                <span>-Travelling</span>
            </div>
            
        </div>
       <!--<div class="side">

            </div> -->
    </div>
</body>
