.tool{
    background: -webkit-linear-gradient(rgb(75, 214, 219), rgb(226, 104, 226));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resume {
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.title{
  height: 150px;
  width:800px;
  padding-top: 2rem;
  color: aliceblue;
  background-color: black;
  text-align: left;
}
.name{
  padding-left: 2rem;
}
.main{
  height: 1600px;
  width:800px;
  background-color: aliceblue;
  position: relative;
}
.side{
  background-color: bisque;
  height:900px;
  width: 150px;
  float: right;
  position: relative;
}