<body>
    <mat-toolbar>
        <span><a [routerLink]="'/home'"><mat-icon color="accent">home</mat-icon></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="tool" style="font-size: large;font-weight: bold;">My Learning & Certifications</span>
    </mat-toolbar>
    <div class="alldiv">
        <div>
            <span style="font-size: larger;font-weight: bold;color: aliceblue;font-family: Verdana, Geneva, Tahoma, sans-serif;">My Specializations</span><br><br>
            <mat-card class="card">
                <mat-card-title style="font-size: larger;">
                    AWS Fundamentals
                </mat-card-title>
                <mat-card-subtitle>
                    Amazon Web Services
                </mat-card-subtitle>
                <mat-card-actions>
                    <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/52RE37GEHUR2" target="_blank"><button mat-raised-button color="accent">See Certification</button></a>
                </mat-card-actions>
            </mat-card>
        </div><br>
        <div>
            <span style="font-size: larger;font-weight: bold;color: aliceblue;font-family: Verdana, Geneva, Tahoma, sans-serif;">My Courses</span>
        </div>
        <div>
            <span style="font-size: medium;font-weight: bold;color: aliceblue;font-family: Verdana, Geneva, Tahoma, sans-serif;">Cloud</span><br><br>
            <mat-card class="card">
                <mat-card-title style="font-size: larger;">
                    Infrastructure and Application Modernization with Google Cloud
                </mat-card-title>
                <mat-card-subtitle>
                    Google Cloud
                </mat-card-subtitle>
                <mat-card-actions>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/PWAJBYWEK8DC" target="_blank"><button mat-raised-button color="accent">See Certification</button></a>
                </mat-card-actions>
            </mat-card>
        </div>
        </div>
        <div class="bodysecond">
        <div>
            <span style="font-size: medium;font-weight: bold;color: aliceblue;font-family: Verdana, Geneva, Tahoma, sans-serif;">Problem Solving</span><br><br>
            <mat-card class="card">
                <mat-card-title style="font-size: larger;">
                    JAVA Programming: Solving problems with Software
                </mat-card-title>
                <mat-card-subtitle>
                    Duke University
                </mat-card-subtitle>
                <mat-card-actions>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/DAFZNVX3SF2R" target="_blank"><button mat-raised-button color="accent">See Certification</button></a>
                </mat-card-actions>
            </mat-card>
        </div><br>
        <div>
            <span style="font-size: medium;font-weight: bold;color: aliceblue;font-family: Verdana, Geneva, Tahoma, sans-serif;">Language Specific</span><br><br>
        <mat-card class="card">
            <mat-card-title style="font-size: larger;">
                Programming for Everybody (Getting Started with Python)
            </mat-card-title>
            <mat-card-subtitle>
                University Of Michigan
            </mat-card-subtitle>
            <mat-card-actions>
                <a href="https://www.coursera.org/account/accomplishments/certificate/J5K2XBL78JSZ" target="_blank"><button mat-raised-button color="accent">See Certification</button></a>
            </mat-card-actions>
        </mat-card><br>
        <mat-card class="card">
            <mat-card-title style="font-size: larger;">
                Python Data Structures
            </mat-card-title>
            <mat-card-subtitle>
                University Of Michigan
            </mat-card-subtitle>
            <mat-card-actions>
                <a href="https://www.coursera.org/account/accomplishments/certificate/RZSVDJ5KW52M" target="_blank"><button mat-raised-button color="accent">See Certification</button></a>
            </mat-card-actions>
        </mat-card><br>
        <mat-card class="card">
            <mat-card-title style="font-size: larger;">
                Programming Foundations with JavaScript, HTML and CSS
            </mat-card-title>
            <mat-card-subtitle>
                Duke University
            </mat-card-subtitle>
            <mat-card-actions>
                <a href="https://www.coursera.org/account/accomplishments/certificate/PWAWFMCDVB4C" target="_blank"><button mat-raised-button color="accent">See Certification</button></a>
            </mat-card-actions>
        </mat-card><br>
        <mat-card class="card">
            <mat-card-title style="font-size: larger;">
                HTML, CSS, and Javascript for Web Developers
            </mat-card-title>
            <mat-card-subtitle>
                John Hopkins University
            </mat-card-subtitle>
            <mat-card-actions>
                <a href="https://www.coursera.org/account/accomplishments/certificate/FKFSH6WPFN49" target="_blank"><button mat-raised-button color="accent">See Certification</button></a>
            </mat-card-actions>
        </mat-card><br>
    </div>
    </div>
</body>
<router-outlet></router-outlet>
