.bodydiv {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 1020px;
}
.navbar {
    padding-top: 2rem;
}
.card1{
    width:100rem;
    height: 5rem;
    border-radius: 10px;
}
.toolbar{
    text-align: center;
    background-color:white;
    padding-bottom: 1rem;
}

.spacer {
    flex: 1 1 auto;
  }
.port {
    font-size: 30px;
  background: -webkit-linear-gradient(rgb(75, 214, 219), rgb(226, 104, 226));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-grad {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)}
         .btn-grad {
            
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            height: 40px;
            width:120px;
}
.txt1 {
    padding-top: 4rem;
    padding-left: 3rem;
}
.txt2 {
    padding-top: 2rem;
    padding-left: 3rem;
    color: whitesmoke;
    font-size: x-large;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family:sans-serif;
}

.cv{
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 4rem;
}
.MyCV {background-image: linear-gradient(to right, #ff6e7f 0%, #48a2d3  51%, #9b5e65  100%)}
         .MyCV {

            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            height: 50px;
            width:100px;
}
.categories{
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: center;
}
.proj{
    float:left;
    position:relative;
    padding-left: 140px;
    padding-bottom: 50px;
}
.m:hover{
    background-color:rgb(231, 112, 164);
}
.content:hover{
    color:#eee;
}

